.nav-1{
    height: 50px;
    width: 100%;
    background-color: rgb(13, 45, 62);
}
.n1{
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    padding-top: 11px;

}
.icon{
    display: flex;
    /* justify-content: space-around; */
    color: white;
    cursor: pointer;
    /* margin-right:-100px; */
}
.bi-facebook {
    margin-left: 5px;
}
.bi-twitter{
    margin-left: 5px;
}
.bi-linkedin{
    margin-left: 5px;
}
.bi-google{
    margin-left: 5px;
}
nav{
    display: flex;
    justify-content: space-between;
}